{
    "presets": [
        "@babel/preset-env", //permite compatibilidad
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ]
    ] //Permite trabajar con react
}
